.main{
    text-align: center;
}
p{
    font-size: 50px;
    font-family: fantasy;
    color: palevioletred;
}
#img1{
    float: left;
    height: 155px;
    width: 20%;
}
#img2{
    float: left;
    height: 155px;
    width: 20%;
}
#img3{
    float: left;
    height: 155px;
    width: 20%;
}

#one{
    margin-left: 330px;
    width: 50%;
    border-style: inset;
    height:160px;
}
#two{
    margin-left: 330px;
    width: 50%;
    border-style: inset;
    height:160px;
}
#three{
    margin-left: 330px;
    width: 50%;
    border-style: inset;
    height:160px;
}
h2{
    font-size: 20px;
}
span{
    float: right;
    margin: 20px;
}