.message{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
}
.mymsg{
    background-color: rgb(204, 43, 137);
    color:white;
    font-family: fantasy;
}
.MsgBox{
    color: black;
    width: 100%;
    height: 40px;
    background: white;
    font-family: fantasy;
}
.msgbutt{
    height: 35px;
    background-color: white;
    width: 150px;
}
.up{
    width: 30px;
    background-color: white;
    border-style: outset;
}